@{
    Page.Title = "Sobre Nosotros";
}

<section id="main">
    <h1>una pequeña reseña de Mundo Android</h1>
    <p>
        Mundo Android fue creada en el 2014 como un 
        prototipo de pequeña empresa, pasado 2 meses 
        sus propietarios vieron que el proyecto prospero 
        mas alla de sus perspectivas, vendiendo celulares 
        android a precios accesibles y con muy buenas 
        garantias asegurando la felicidad de sus 
        compradores, hoy es una empresa autosostenible 
        y con muchos empleados hasta el punto de poder 
        enviar pedidos por internet... y seguira creciendo.
    </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
